<ion-content><h4>Stop Information:</h4><p>{{ location.desc }}</p><p>{{ location.dir }}</p><h4>Next Arrivals:</h4><ul><li ng-repeat="info in arrivals"><p>{{ info.fullSign }}</p><p>{{ msToMins($index) }}</p></li></ul></ion-content>